.meetTeamSection {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.profileCard {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    border: 2px solid;
    margin: 40px;
    max-width: 350px;
}


.profileCard .profileName {
    font-size: 2.5rem;
}