@mixin flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.health-area-card {
    @include flexContainer;
    flex-direction: column;
    border: 2px black solid;
    margin: 40px;
    &.grow {
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}