@mixin navListFlex {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.home {
    // background-color: blueviolet;

    .custom-search {
        display: none;
    }
     .healthCardSection {
            // background-color: red;
            @include navListFlex;
            flex-flow: row wrap;
            ul {
                @include navListFlex;
                flex-flow: row wrap;

                li {
                    list-style-type: none;
                    max-width: 500px;

                    a {
                        text-decoration: none;
                        color: black;

                        img {
                            max-width: 75%;
                        }
                        p {
                            font-size: 2rem;
                            margin-top: -80px;
                        }
                    }
                }
            }
        }
}
