@mixin navListFlex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

nav, footer {
  @include navListFlex;
  justify-content: space-between;
  width: 100%;
  ul {
    @include navListFlex;
    width: 50%;
    li {
      list-style-type: none;
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
  .logo-area {
    width: 5%;
  }
}

.tagline {
  font-size: 4rem;
  font-weight: 800;
}

footer {
  height: 80px;
}